body { background-image: url("Clonrocheimg1.jpg"); background-color: #cccccc; background-repeat: no-repeat; background-position: center; background-size: cover;}

main 
{ 
	padding : 10px ;
	color : rgb(255, 175, 175);	
	border : 2px solid rgb(185, 184, 184) ;  
}

div#container 
{
	width : 70%;
	margin : auto;
	background-color: rgba(255, 255, 255, 0);
	color : black; 
	border : 3px dashed white ;
}

#imgFloatRight1 {float: right; margin: 0px 15px 15px 15px;}