body { background-image: url("Clonrocheimg1.jpg"); background-color: #cccccc; background-repeat: no-repeat; background-position: center; background-size: cover;}

main 
{ 
	padding : 10px ;
	color : rgb(255, 175, 175);	
	border : 2px solid rgb(185, 184, 184) ;  
}

nav 
{
	height : 50px; 
	padding : 10px; 
	border-bottom : 5px solid black ;
	background : rgb(152, 255, 152); 
	color : yellow; 
}

header 
{
	padding : 10px ;
	border-bottom : 5px solid black ; 
	background : rgb(0, 0, 0); 
	color : white; 
	text-align: center;
}

div#container 
{
	width : 70%;
	margin : auto;
	background-color: rgba(255, 255, 255, 0);
	color : black; 
	border : 3px dashed rgba(255, 255, 255, 0) ;
}

#imgFloatRight1 {float: right; margin: 0px 15px 15px 15px;}
#imgFloatLeft1 {float: left; margin: 0px 15px 15px 15px}

nav ul { list-style-type : none ; margin : 0 ; padding : 0 ;  overflow : hidden ; }

nav li a 
{ 
	display : block ; 
	text-align : center ; 
	text-decoration : none ; 
	color : rgb(125, 61, 226) ; 
	padding : 10px ; 
	float : left ; 
}

nav li a:current { background : rgb(187, 68, 68) ; }
nav li a:hover { background : rgb(73, 138, 29) ; color : rgb(233, 159, 159) ; }
